<h1><%= idea.title %></h1>
<p>
  <%= idea.description %><br/><br>
  TAGS: <% idea.tags.each do |tag| %>
  <a href="/<%= tag %>"><%= tag %></a>
  <% end %><br/>
  <img src='/uploads/<%=idea.images%>' height=300px width=600px/> <br/><br/>
  RESOURCES:<br/>
  <%= idea.resource1 %><br/>
  <img src="/uploads/<%= idea.resource_images %>"/><br/>
  <%= idea.resource3 %><br/>
</p><br/><br/>
<form action='/' method='GET'>
  <input type='submit' value='home' />
</form>
