<div class= 'container'>
  <div class='row'>
    <div class='col-xs-12'>

      <div class ='hidden-xs nav ideas'><h1><a href= '/'>IdeaBox</a>  <a href='/idea'>NewIdea</a>  <a href='/existing'>All</a></div>
      <div class ='visible-xs-block small_nav ideas'><h1><a href= '/'>IdeaBox</a>  <a href='/idea'>NewIdea</a>  <a href='/existing'>All</a></div>
    <br/><br/>
  </div>
  </div>
  <div class='row ideas'>
      <% ideas.each do |idea| %>
      <div class='col-lg-6 col-sm-12'>
      <div class="existing_ideas" style="background-image: url('/uploads/<%=idea.images%>');">
      <span>
          <b><%= idea.title %><span class='spacer'></span></b><br/><br/><br/>
        </span><form action='/<%= idea.id %>/details' method='GET' style="display: inline">
            <input type='submit' value="+"/>
          </form>
          <span class='tags'>
          <% idea.tags.each do |tag| %>
          <a href="/<%= tag %>"><%= tag %></a>
          <% end %><br/></span></span>

        </div>
      </div>
      <% end %>
    </div>
  </div>
