    <div class ='nav'><h1>IdeaBox  <a href='/idea'>New Idea</a>  <a href='/exsisting'>Exsisting Idea</a>  <a href='/tag'>Tags</a></div>
    <br/><br/>

    <br/><br/>
    <div id="header"><h3>Exsisting Ideas</h3>


      <% ideas.each do |idea| %>
      <div class="existing_ideas">
          <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
            <input type='submit' value="+"/>
          </form>
          <b><%= idea.title %></b><br/>
          <%= idea.description %><br/><br/>
          <b>tags:</b>
          <% idea.tags.each do |tag| %>
          <a href="/<%= tag %>"><%= tag %></a>
          <% end %><br/>
          <form action='/<%= idea.id %>/details' method='GET'>
            <input type='submit' value='details' />
          </form>
          <form action='/<%= idea.id %>/edit' method='GET'>
            <input type='submit' value='edit' />
          </form>
          <form action='/<%= idea.id %>' method='POST'>
            <input type="hidden" name="_method" value="DELETE">
            <input type='submit' value="delete"/>
          </form><br/><br/>
        </div>
      <% end %>

  </div>
