<h1>Ideas tagged with <%= tag %></h1>
<p>
  <% ideas.each do |idea| %>
    <h3><%= idea['title'] %></h3><br/>
    <%= idea['description'] %><br/>
    <% idea['tags'].each do |tag|%>
      <a href="/<%= tag %>"><%= tag %></a>
    <% end %>
  <% end %><br/><br/>
  <form action='/' method='GET'>
    <input type='submit' value='home' />
  </form>
</p>
